*{margin:0;padding:0;}
a{
	text-decoration:none;
}
ul,li{
	list-style:none;
}
body{
	font-size:12px;
	font-family:"Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
#banner{
	height:72px;
	background-color:#144465;
}
#banner .wrap{
	width:900px;
	margin:0 auto;
}
#banner #banner-icon a{
	display:block;
	width:85px;
	height:74px;
	text-indent:-9999px;
	background:url(images/logo.png) no-repeat center;
}
#banner-about{
	float:right;
	margin-top:-38px;
}
#banner #banner-about a{
	font-size:14px;
	color:#A0B3C0;
	padding-left:22px;
	background:url(images/icon_sprite.png) 0 -48px no-repeat;
}
#banner #banner-about a:hover{
	background-position:0 -23px;
	color:#fff;
}
#content{
	background:url(images/background_image.png) repeat-x;
	width:100%;
	height:700px;
	padding-top:20px;
}
#main{
	width:900px;
	margin:0 auto;
}
#content-main{
	width:625px;
	float:left;
}
.feed-profile{
	display:inline-block;
}
.feed-content{
	float:right;
	/*width:544px;*/
	position:relative;
	display:inline-block;
	margin:0px -20px 0 0;
	padding:0 20px;
	background-color:#fff;
	border-radius:6px;
}

.triangle{
	border-right:30px solid transparent;
	border-top:30px solid #fff;
	border-bottom:30px solid transparent;
	border-left:30px solid transparent;
	height:0;
	width:0;
	margin:-70px 0 0 88px;
}

.feed-head{
	margin:15px 0;
}
.feed-head a{
	color:#b4b4b4;
}
.feed-head a:hover{
	color:#8f8f8f;
}
.feed-body-content h4{
	color:#444;
	font-size:22px;
	font-weight:normal;
	margin:10px 0;
}
.clearfix:after{
	content:"";
	clear:both;
	display:block;
}
#aside {
	width:250px;
	float:right;
	margin:-700px 200px;
}
#aside-log-reg{
	padding:20px 0;
}
#aside #aside-log-reg a{
	width:112px;
	height:50px;
	line-height:48px;
	font-size:14px;
	text-align:center;
	text-indent:8px;
	letter-spacing:8px;
	background:url(images/aside-login-register-btn.png) no-repeat;
}
#aside #aside-log-reg a#aside-log{
	background-position:-1px -1px;
	color:#9b9b9b;
	float:left;
}
#aside #aside-log-reg a#aside-log:hover{
	background-position:-1px -65px;
}

#aside #aside-log-reg a#aside-reg{
	background-position:-132px -1px;
	color:#fff;
	float:right;
}
#aside #aside-log-reg a#aside-reg:hover{
	background-position:-132px -65px;
}
#aside-menu li a{
	display:block;
}
#aside-menu li{
	border-radius:5px;
	background-color:#d2d6d8;
	border-bottom:1px solid #C6C8CB;
	font-size:12px;
}
#aside-menu li:hover{
	background-color:#F0F1F2;
	box-shadow:inset 0 0 3px #ccc;
}
#aside-menu .menu-name{
	margin-top: -35px;
    margin-left: 50px;
	color:#444;
	line-height: 12px;
  	display: block;
 	height: 16px;
 	overflow: hidden;
}

#aside-menu .menu-type {
    color: #ADAFB1;
    display: block;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    padding-left: 50px;
}
#aside #aside-footer{
	margin-top:30px;
	color:#B4B4B4;
}
#aside #aside-footer a{
	color:#B4B4B4;
}
#aside #aside-footer a:hover{
	color:#8F8F8F;
}
